header {
    text-align: center;
    background-color: rgb(89, 42, 178);
    height: 12rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
body{
    width: 100%;
    position: fixed;
    top:14rem;
    text-align: center;
}

ul{
    margin: 0 20% 1rem 20%;
    list-style: none;
    text-align: center;
    display: flex;
}
li{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    padding: 2rem;
    background-color: rgb(211, 206, 220);
    width: 20rem;
}
li a{
    padding: 1rem;
}
header h1,h3{
    color: white;
    margin-top: 2rem;
}

button{
    background-color: rgb(89, 42, 178);
    color: white;
    padding:0.5rem;
    border: 1px solid rgb(89, 42, 178);
    border-radius: 6px ;
}
button:hover{
    background-color: rgb(110, 42, 178);

}
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }


#overlay {
    
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;

}
#overlay ul li{
    width: 60%;
    height: 50%;
}
#overlay input[type="text"] {
    font: inherit;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 1px solid rgb(156, 153, 136);
    width: 15rem;
    max-width: 100%;
    padding: 0.5rem;
    margin-left:2.2rem ;
    color: rgb(66, 63, 44);
  }
  
  input:focus {
    background-color: rgb(248, 239, 187);
  }


 #EditDiv {
    position: absolute;
    top: 20%;   /* adjust this to move higher/lower */
    left: 50%;
    transform: translateX(-50%); /* keeps it centered horizontally */

} 
 #EditDiv ul {
    height:350px;
    margin-left: 18rem;

}
 #EditDiv li {
    width: 500px;
 }
